In [8]:
import pandas as pd
df=pd.read_excel(r"c:\Users\OMISTAJA\Downloads\ebola-cases-and-deaths-who-gar-sitrep.xls")
print("Initial dataframe")
df.head()

Initial dataframe

,Country,Case def.,Total cases,Cases last 21 days,Total deaths,Country Report Date
0,Guinea,Confirmed,3351.0,0.0,2083.0,2015-12-27
1,Guinea,Probable,453.0,NaN,453.0,NaT
2,Guinea,Suspected,0.0,NaN,NaN,NaT
3,Guinea,All,3804.0,0.0,2536.0,NaT
4,Liberia,Confirmed,3151.0,NaN,NaN,2015-05-09

In [9]:
#Check missing values
print("Missing values")
print(df.isnull)

Missing values
<bound method DataFrame.isnull of                      Country  Case def.  Total cases  Cases last 21 days  \
0                     Guinea  Confirmed       3351.0                 0.0
1                     Guinea   Probable        453.0                 NaN
2                     Guinea  Suspected          0.0                 NaN
3                     Guinea        All       3804.0                 0.0
4                    Liberia  Confirmed       3151.0                 NaN
5                    Liberia   Probable       1879.0                 NaN
6                    Liberia  Suspected       5636.0                 NaN
7                    Liberia        All      10666.0                 NaN
8                   Liberia2  Confirmed          9.0                 0.0
9                   Liberia2   Probable          0.0                 NaN
10                  Liberia2  Suspected          NaN                 NaN
11                  Liberia2        All          9.0                 0.0
12              Sierra Leone  Confirmed       8704.0                 0.0
13              Sierra Leone   Probable        287.0                 NaN
14              Sierra Leone  Suspected       5131.0                 NaN
15              Sierra Leone        All      14122.0                 0.0
16                     Italy  Confirmed          1.0                 NaN
17                     Italy   Probable          0.0                 NaN
18                     Italy  Suspected          0.0                 NaN
19                     Italy        All          1.0                 NaN
20                      Mali  Confirmed          7.0                 NaN
21                      Mali   Probable          1.0                 NaN
22                      Mali  Suspected          0.0                 NaN
23                      Mali        All          8.0                 NaN
24            United Kingdom  Confirmed          1.0                 NaN
25            United Kingdom   Probable          0.0                 NaN
26            United Kingdom  Suspected          0.0                 NaN
27            United Kingdom        All          1.0                 NaN
28  United States of America  Confirmed          4.0                 NaN
29  United States of America   Probable          0.0                 NaN
30  United States of America  Suspected          0.0                 NaN
31  United States of America        All          4.0                 NaN
32                   Nigeria  Confirmed         19.0                 NaN
33                   Nigeria   Probable          1.0                 NaN
34                   Nigeria  Suspected          0.0                 NaN
35                   Nigeria        All         20.0                 NaN
36                   Senegal  Confirmed          1.0                 NaN
37                   Senegal   Probable          0.0                 NaN
38                   Senegal  Suspected          0.0                 NaN
39                   Senegal        All          1.0                 NaN
40                     Spain  Confirmed          1.0                 NaN
41                     Spain   Probable          0.0                 NaN
42                     Spain  Suspected          0.0                 NaN
43                     Spain        All          1.0                 NaN

    Total deaths Country Report Date
0         2083.0          2015-12-27
1          453.0                 NaT
2            NaN                 NaT
3         2536.0                 NaT
4            NaN          2015-05-09
5            NaN                 NaT
6            NaN                 NaT
7         4806.0                 NaT
8            3.0          2015-01-03
9            NaN                 NaT
10           NaN                 NaT
11           3.0                 NaT
12        3589.0          2015-11-08
13         208.0                 NaT
14         158.0                 NaT
15        3955.0                 NaT
16           0.0                 NaT
17           0.0                 NaT
18           0.0                 NaT
19           0.0                 NaT
20           NaN                 NaT
21           NaN                 NaT
22           NaN                 NaT
23           6.0                 NaT
24           0.0                 NaT
25           0.0                 NaT
26           0.0                 NaT
27           0.0                 NaT
28           1.0                 NaT
29           0.0                 NaT
30           0.0                 NaT
31           1.0                 NaT
32           7.0          2014-10-19
33           1.0                 NaT
34           0.0                 NaT
35           8.0                 NaT
36           0.0          2014-10-17
37           0.0                 NaT
38           0.0                 NaT
39           0.0                 NaT
40           0.0          2014-12-02
41           0.0                 NaT
42           0.0                 NaT
43           0.0                 NaT  >

In [11]:
df.dropna(inplace = True)

print(df.to_string())

         Country  Case def.  Total cases  Cases last 21 days  Total deaths Country Report Date
0         Guinea  Confirmed       3351.0                 0.0        2083.0          2015-12-27
8       Liberia2  Confirmed          9.0                 0.0           3.0          2015-01-03
12  Sierra Leone  Confirmed       8704.0                 0.0        3589.0          2015-11-08